@model TimeManagementSystem.Models.PayPeriod

@{
    ViewData["Title"] = "Create Pay Period";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Pay Period</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PeriodStart" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="fillCurrentDate('PeriodStart')">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                    <input asp-for="PeriodStart" class="form-control" />
                </div>
                <span asp-validation-for="PeriodStart" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PeriodEnd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="fillCurrentDate('PeriodEnd')">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                    <input asp-for="PeriodEnd" class="form-control" />
                </div>
                <span asp-validation-for="PeriodEnd" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MiscMin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MiscMin" class="form-control" />
                <span asp-validation-for="MiscMin" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function fillCurrentDate(dateFieldId) {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById(dateFieldId).value = today;
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
