@model TimeManagementSystem.Models.PayPeriod

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>PayPeriod</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PeriodEnd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PeriodEnd" class="form-control" />
                <span asp-validation-for="PeriodEnd" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PeriodStart" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PeriodStart" class="form-control" />
                <span asp-validation-for="PeriodStart" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PeriodTotalTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PeriodTotalTime" class="form-control" />
                <span asp-validation-for="PeriodTotalTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
