@model TimeManagementSystem.Models.SubscribeToUser

@{
    ViewData["Title"] = "Delete Account";
}

<h2>Delete Account</h2>

<h3>Are you sure you want to delete your account?</h3>

<div>
    <hr />
   
    <form asp-action="DeleteAccountConfirmed">
        <div class="form-actions no-color">
            <input type="submit" value="Delete Account" class="btn btn-danger" />
            <a asp-controller="Manage" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
