@model TimeManagementSystem.Models.SubscribeToUser

@{
    ViewData["Title"] = "Account Deleted Successfully";
}

<h2>Account Deleted Successfully.</h2>
<br />
<a asp-controller="Home" asp-action="Index" class="btn btn-default">Go to Homepage</a>
