@model TimeManagementSystem.Models.TimeRecord

@{
    ViewData["Title"] = "Create Time Record";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Time Record</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RecordDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="fillCurrentDate()">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                    <input asp-for="RecordDate" class="form-control"/>
                </div>
                <span asp-validation-for="RecordDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeWorkStart" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeWorkStart" class="form-control" />
                <span asp-validation-for="TimeWorkStart" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeWorkEnd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeWorkEnd" class="form-control" />
                <span asp-validation-for="TimeWorkEnd" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeBreak" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeBreak" class="form-control" />
                <span asp-validation-for="TimeBreak" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function fillCurrentDate() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        
        if(dd<10) {
            dd='0'+dd
        } 
        
        if(mm<10) {
            mm='0'+mm
        } 
        
        today = yyyy + '-' + mm + '-' + dd;
        
        document.getElementById('RecordDate').value = today;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
