@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>
    Time Management System allows a user to record and calculate their work hours.
    In addition, the system helps a user calculate the hours worked per pay period. 
    Standard users can subscribe to managers, who can view their time records and
    pay periods.
</p>
