@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<br />
<p>
    <b>Creator: </b> Otto Lau
</p>
<p>
    <b>Email: </b><a href="mailto:otto.lau@hotmail.com">otto.lau@hotmail.com</a>
</p>
