@{
    ViewData["Title"] = "Home Page";
}

<div class="container" >
    <div class="jumbotron">
        <h1>Time Management System</h1>
        <p>Version 1.0</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <div class="row">
            <img class="img-responsive" src="~/images/Clock.png" />
        </div>
        <div class="row">
            <h5 class="text-info">Log and calculate work hours.</h5>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="row">
            <img class="img-responsive" style="padding:35px" src="~/images/Calendar.png" />
        </div>
        <div class="row">
            <h5 class="text-info">Calculate work hours per pay period.</h5>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="row" >
            <img class="img-responsive" src="~/images/Group.png" />
        </div>
        <div class="row" style="padding:7px ">
            <h5 class="text-info">Manage and view users' work records.</h5>
        </div>
    </div>
</div>